<h1>Setlister</h1>

<p>
  A <strong>super simple</strong> setlist-organizing tool for bands and musicians.
</p>

<p>
  Go to the index of <strong><%= link_to 'Setlists', setlists_path %></strong> or <strong><%= link_to 'Songs', songs_path %></strong>
</p>